
#container{
    width: 960px;
    margin: 0 auto;
    
}
header{
    background-color: rgb(64, 64, 228);
    text-align: right;
    
}
header ul{
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
}
header li{
    display: inline-block;
    padding: 20px 5px;
    margin: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
header a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
header img{
    width: 100px;
    height: 100px;
    float: left;
}
nav{
    float: right;
    overflow: hidden;
}
section{
    border: 3px solid rgb(132, 132, 224);
    padding: 10px;
    
}
section ul{
    text-align: center;
    
}
section li{
    display: inline-block;
    padding: 20px;
}
section a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
#pet1{ 
    border: 1px dotted rgb(241, 87, 26) ;
    border-radius: 10px;
}
#pet2{
    border:2px dotted rgb(15, 19, 236);
    border-radius: 20px;
}
#pet3{
    border: 2px dashed rgb(15, 19, 236);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
aside{
    background-color: #f870bf;
    padding: 10px;
}
footer{
    background-color: rgb(84, 21, 230);
    text-align: center;
    padding: 10px;
    color: #fff;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
figure{
    text-align: center;
    margin: 20px;
}
figure img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}
.cjdma{
    display: block;
    text-align: right;
    margin-right: 30px;
}


